.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.git
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
test-output/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs/
/LOG_PATH_IS_UNDEFINED/
